<style>
   body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
    }
    .navbar-brand {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .navbar-brand img {
      max-height: 40px; /* Ustaw maksymalną wysokość obrazu */
      margin-right: 10px;
      margin-left: 10px;
    }
    .nav-link {
      color: #d4a5e2 !important; /* Jasno fioletowy kolor */
    }
    .nav-link:hover {
      color: #9b59b6 !important; /* Ciemno fioletowy kolor */
    }
    .container {
      background: #ffffff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1, h2 {
      color: #333;
    }
    .btn-light {
      background-color: #007bff;
      color: #fff;
    }
    .btn-light:hover {
      background-color: #0056b3;
      color: #fff;
    }

  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "ikona.png", alt: "Ikona"%> Adoptuj Przyjaciela</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Galeria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Koty</a>
          <a class="dropdown-item" href="#">Psy</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Kontakt</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="login.html">Logowanie <span class="sr-only">(aktualnie)</span></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">

   <center><h2>Zaloguj się</h2> </center>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating mb-3" style="margin-top: 30px; margin-bottom: 30px;">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
    <%= f.label :email, "Adres e-mail", for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Hasło" %>
    <%= f.label :password, "Hasło", for: "floatingPassword" %>
  </div>


  <center>
    <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
      <%= f.submit "Zaloguj się", class: "btn btn-success btn-lg", data: {turbo: false}, style:"color:white; text-decoration: none;" %>
    </div>
  </center>
  <% end %>

  <%= render "devise/shared/links" %>


  </div>
</div>

