<style>
   body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
    }
    .navbar-brand {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .navbar-brand img {
      max-height: 40px; /* Ustaw maksymalną wysokość obrazu */
      margin-right: 10px;
      margin-left: 10px;
    }
    .nav-link {
      color: #d4a5e2 !important; /* Jasno fioletowy kolor */
    }
    .nav-link:hover {
      color: #9b59b6 !important; /* Ciemno fioletowy kolor */
    }
    .container {
      background: #ffffff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1, h2 {
      color: #333;
    }
    .btn-light {
      background-color: #007bff;
      color: #fff;
    }
    .btn-light:hover {
      background-color: #0056b3;
      color: #fff;
    }

  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= admin_index_path %>"><%= image_tag "ikona.png", alt: "Ikona"%> Adoptuj Przyjaciela</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= admin_index_path %>">Home <span class="sr-only">(aktualnie)</span></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-turbolinks="false">
            Galeria zwierząt
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="<%= admin_gallery_cat_admin_path %>">Koty</a></li>
            <li><a class="dropdown-item" href="<%= admin_gallery_dog_admin_path %>">Psy</a></li>
          </ul>
        </li>
    </ul>
  </div>
</nav>


<div class="container">
<h1>Dodaj nowego kota</h1>

    <%= form_with model: @cat, local: true, html: { class: 'needs-validation', novalidate: true } do |form| %>
        <% if @cat.errors.any? %>
            <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(@cat.errors.count, "błąd") %> wystąpił(a) podczas próby zapisania kota:</h4>
            <ul>
            <% @cat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

    <div class="form-floating mb-3">
        <%= form.file_field :image, class: 'form-control', id: 'image' %>
        <%= form.label :image, 'Zdjęcie', class: 'form-label' %>
    </div>

    <div class="form-floating mb-3">
        <%= form.text_field :name, class: 'form-control', id: 'name', placeholder: 'Imię' %>
        <%= form.label :name, 'Imię', class: 'form-label' %>
    </div>

    <div class="form-floating mb-3">
        <%= form.number_field :age, class: 'form-control', id: 'age', placeholder: 'Wiek' %>
        <%= form.label :age, 'Wiek', class: 'form-label' %>
    </div>

    <div class="form-floating mb-3">
        <%= form.text_area :description, class: 'form-control', id: 'description', placeholder: 'Opis', style: 'height: 100px;' %>
        <%= form.label :description, 'Opis', class: 'form-label' %>
    </div>

    <div class="form-check mb-3">
        <%= form.check_box :adopted, class: 'form-check-input', id: 'adopted' %>
        <%= form.label :adopted, 'Adoptowany', class: 'form-check-label' %>
    </div>

    <div class="actions">
        <center><%= form.submit "Zapisz", class: 'btn btn-success' %></center>
    </div>

    <% end %>

<center> <%= link_to 'Powrót', cats_path, class: 'btn btn-secondary mt-3' %> </center>
    
</div>







